MONGODB_URI=optional-field-do-not-change-this-text-only-if-you-will-work-with-database-related-features
AUTH_GOOGLE_ID=optional-field-do-not-change-this-text-only-if-you-will-work-with-authentication-related-features
AUTH_GOOGLE_SECRET=optional-field-do-not-change-this-text-only-if-you-will-work-with-authentication-related-features
AUTH_SECRET=optional-field-do-not-change-this-text-only-if-you-will-work-with-authentication-related-features
RESEND_API_KEY=optional-field-do-not-change-this-text-only-if-you-will-work-with-email-related-features
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=optional-field-do-not-change-this-text-only-if-you-will-work-with-image-upload-related-features
NEXT_PUBLIC_CLOUDINARY_API_KEY=optional-field-do-not-change-this-text-only-if-you-will-work-with-image-upload-related-features
CLOUDINARY_API_SECRET=optional-field-do-not-change-this-text-only-if-you-will-work-with-image-upload-related-features
CLOUDINARY_URL=cloudinary://<cloudinary_api_key>:<cloudinary_api_secret>@<cloudinary_cloud_name>
