extends layout

block content
	.container.mx-auto.mt-5
		form(action="/submit/times" method="post")
			input(type="hidden" name="_csrf" value=csrfToken)
			h1.text-center Add new times
			.row.g-3.d-flex.justify-content-evenly
				.col-md
					input.form-control(type='text' name="time" placeholder='Time' aria-label='time')
				.col-md
					select.form-select(name="category" aria-label='Default select')
						option(selected='Select cube') Select cube
						option(value='2x2') 2x2
						option(value='3x3') 3x3
						option(value='4x4') 4x4
				.col-md
					button.btn.btn-primary(type='submit') Button
		hr.my-5
		
		
	if (times)
		.container
			table.table.table-striped
				caption List of recent solves
				thead
					tr
						th(scope="col") Category
						th(scope="col") Cube
						th(scope="col") Scramble
						th(scope="col") Result
						th(scope="col") Options

				tbody
					for value in times
						tr
							th(scope="row") #{value.category}
							td Dayan Zanchi
							td R D F2 U2 F' R2 D2 B U2 F' L2 U2 F' R' D' L' F' L' U' R
							td #{value.time}
							td
								.d-flex.gap-2.justify-content-center

									a(class="btn btn-sm btn-danger" href='/submit/'+value._id+'/delete' role="button") 
										svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16")
											path(d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z")
