extends layout

block content
	.container.mx-5.mt-5
		form(action="/submit/times" method="post")
			input(type="hidden" name="_csrf" value=csrfToken)
			h1.text-center Add new times
			.row.g-3.d-flex.justify-content-evenly
				.col-md
					input.form-control(type='text' name="time" placeholder='Time' aria-label='time')
				.col-md
					select.form-select(name="category" aria-label='Default select')
						option(selected='Select cube') Select cube
						option(value='2x2') 2x2
						option(value='3x3') 3x3
						option(value='4x4') 4x4
				.col-md
					button.btn.btn-primary(type='submit') Button
		hr.my-5
		
		
	if (times)
		.container
			table.table
				caption List of recent solves
				thead.table-dark
					tr
						th(scope="col") Category
						th(scope="col") Scramble
						th(scope="col") Result
						th(scope="col") Options

				tbody
					for value in times
						tr
							th(scope="row") #{value.category}
							td R D F2 U2 F' R2 D2 B U2 F' L2 U2 F' R' D' L' F' L' U' R
							td #{value.time}
							td
								a(class="btn btn-sm btn-warning" href='/submit/'+value._id+'/save' role="button") 
									svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16")
										path(d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z")

								a(class="btn btn-sm btn-danger" href='/submit/'+value._id+'/delete' role="button") 
									svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16")
										path(d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z")
