extends layout

block content
	.container.text-center
		h1.mt-5 Hello human!
		
		p This is Cube Stats
		img(class="rounded mx-auto d-block" src="/images/img1.png" alt="rubiks cube")
		
		h2 "The ultimate website for keeping track of your Rubik's Cube solving statistics".


