extends layout

block content
	if (mensajes)
		for error in mensajes
			.container.mt-5
				.alert.alert-danger(role="alert") #{error.msg}
	div.container.d-flex.justify-content-center.mx-auto.mt-5
		form.shadow.p-4(action='/login' method='post')
			input(type="hidden" name="_csrf" value=csrfToken)
			.mb-3
				h1 Login
			.mb-3
				label.form-label(for='username') Username
				input#username.form-control(type='text' name='username' value='rojonaitor')
			.mb-3
				label.form-label(for='exampleInputPassword1') Password
				input#exampleInputPassword1.form-control(type='password' name='password' value='contrase123')
			button.btn.btn-primary(type='submit') Submit