extends layout

block content

	.container.my-5
		.row
			.col-md-12.col-lg-4.my-1
				include profile_sidebar
			.col-md-12.col-lg-8.my-1
				include profile_navbar
				.container.my-3
					div(class="row row-cols-1 row-cols-md-2 g-4")
						div(class="col")
							img(src="/images/graphs/img4.png" class="object-fit" alt="" width="400" height="400")