.nav.nav-tabs
	.nav.item
		a.nav-link(href='/profile/'+userSession.id) Overview
	.nav-item
		a.nav-link.active(aria-current="page" href='/profile/'+userSession.id+'/alg-collection') Algorithm collections
	.nav-item
		a.nav-link(href='/profile/'+userSession.id+'/achievements') Achievements
	.nav-item
		a.nav-link(href='/profile/'+userSession.id+'/my-cubes') Cubes