extends layout

block content
	
	.container.my-5
		h1 Title OLL (57 algs)
		hr
		form.row.row-cols-1.row-cols-lg-10.row-cols-md-6.row-cols-sm-4.g-4
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
				
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
				
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
				
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
				
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
				
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
				
				
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
				
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
				
				
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
				
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
					
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
				
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
				
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
				
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
				
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
				
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
				
				
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
				
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
				
				
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
				
			.col.d-flex.flex-column.justifiy-content-center.align-items-center
				input(type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off")
				label(class="btn btn-outline-primary w-100" for="btn-check-2-outlined") Opcion A 
					img(src='/images/collection/pll.png', width='64', height='64')
					
			button(type="submit" class="btn btn-warning w-100") Update
