extends layout

block content
	div.container.d-flex.justify-content-center.mx-auto.mt-5
		form.border.p-4
				.mb-3
					label.form-label(for='exampleInputEmail1') Email address
					input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp')
					#emailHelp.form-text We&apos;ll never share your email with anyone else.
				.mb-3
					label.form-label(for='exampleInputPassword1') Password
					input#exampleInputPassword1.form-control(type='password')
				.mb-3.form-check
					input#exampleCheck1.form-check-input(type='checkbox')
					label.form-check-label(for='exampleCheck1') Check me out
				button.btn.btn-primary(type='submit') Submit
