extends layout

block content
	.container.vh-100.d-flex.align-items-center.justify-content-center.text-center
		.row.gx-5.d-flex.align-items-center.justify-content-center.text-center.mb-5
			.col-md-12.col-lg-5.my-5
				h1.mt-5.user-select-none
					| Take your cubing skills to the next level with 
					span.text-primary Cubestats
				p.font-monospace.user-select-none "Experience the ultimate Rubik's Cube toolset: advanced timer, trainer and analytics".
				a(href="/register" role="button" class="btn btn-outline-primary btn-lg") Try Free!
			.col-md-12.col-lg-7.my-5
				img.img-fluid.d-block.w-100.border-5.border.border-primary.rounded.rounded-4.shadow.shadow-lg(src='images/dark.png' alt='')