nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand(href='/')
      img(src="/images/logo.png" alt="logo" width="24" height="24" class="d-inline-block")
      |     Cube Stats
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse.justify-content-end
      ul.navbar-nav
        if (!loggedIn)
          li.nav-item
            a.nav-link.active(aria-current='page' href='/') Home
          li.nav-item
            a.nav-link(href='/login') Login
          li.nav-item
            a.nav-link(href='/register') Register
        else
          li.nav-item
            a.nav-link(href='/timer') Cube station
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#' data-bs-toggle="dropdown" aria-expanded="false")
              img.rounded-circle(src="/images/profile/gears.jpg", width="24" height="24" class="img-cover")
            ul.dropdown-menu.dropdown-menu-end.dropdown-menu-dark
              li
                a.dropdown-item(href='/profile/'+userSession.id) Signed in as 
                  span.fw-semibold #{userSession.username}
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href='/profile/'+userSession.id) Your profile
              li
                a.dropdown-item(href='/profile/'+userSession.id+'/alg-collection') Your alg-collection
              li
                a.dropdown-item(href='/profile/'+userSession.id+'/my-cubes') Your cubes
              li
                a.dropdown-item(href='/profile/'+userSession.id+'/historial') Your Historial
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href='/profile/'+userSession.id+'/help') Help
              li
                a.dropdown-item(href='/profile/'+userSession.id+'/settings') Settings
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href='/logout') Logout
