.nav.nav-tabs(id="profile-nav")
	.nav-item
		a.nav-link(href='/'+userSession.username) Overview
	.nav-item
		a.nav-link(aria-current="page" href='/'+userSession.username+'/alg-collection') Algorithm collections
	.nav-item
		a.nav-link(href='/'+userSession.username+'/my-cubes') Cubes