extends layout

block content
	.container.my-5
		.row
			.col-md-12.col-lg-4.my-1
				include profile_sidebar
			.col-md-12.col-lg-8.my-1
				include profile_navbar
				.container.my-3
					.container.border.rounded.d-flex.flex-column.align-items-center.p-4.gap-3.my-4.text-center
						h5.card-title STATS
						form.d-flex.gap-3.w-75.justify-content-around
							input(type="hidden" name="id" id=user._id value=user._id)
							div.w-100(class="form-floating")
								select(id="category-filter" class="form-select" aria-label="Floating label category select")
								label(for="time-filter") Category-based Statistic
							div.w-100(class="form-floating")
								select(id="cube-filter" class="form-select" aria-label="Floating label cube select")
								label(for="time-filter") Cube-based Statistic
						table.table
							thead
								tr(id="tr1")
									th(scope="col") Type
									th(scope="col") Category
									th(scope="col") Cube
							tbody
								tr
									td(scope="row") Best time
									td(id="best-time-category") -
									td(id="best-time-cube") -
								tr(id="tr10")
									td(scope="row") Mean time
									td(id="mean-category") -
									td(id="mean-cube") -
								tr(id="tr5")
									td(scope="row") Ao5
									td(id="best-ao5-category") -
									td(id="best-ao5-cube") -
								tr(id="tr6")
									td(scope="row") Ao12
									td(id="best-ao12-category") -
									td(id="best-ao12-cube") -
								tr(id="tr7")
									td(scope="row") Ao50
									td(id="best-ao50-category") -
									td(id="best-ao50-cube") -
								tr(id="tr8")
									td(scope="row") Ao100
									td(id="best-ao100-category") -
									td(id="best-ao100-cube") -
								tr(id="tr9")
									td(scope="row") Ao1000
									td(id="best-ao1000-category") -
									td(id="best-ao1000-cube") -
								tr(id="tr2")
									td(scope="row") Count
									td(id="count-category") -
									td(id="count-cube") -
								tr(id="tr3")
									td(scope="row") Cubing Time
									td(id="solving-time-category") -
									td(id="solving-time-cube") -